@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hamilton Adult Soccer Club</h1>
    <p>The Hamiltion Adult Soccer Club is a fun-oriented set of leagues where people of different abilities and ages can enjoy soccer with some friendly competition.</p>
</div>
