@model IEnumerable<assignment2.Models.Persons>

@{
    ViewData["Title"] = "Registration";
}

<h1>Registration Complete</h1>


<p style="color:aqua;">Thank you for your interest. The club will be in touch shortly.</p>
